extends base
include mixins/video

block content
    h2 Welcome! here you will see trending videos.
        nav
            ul 
                li
                    a(href="/videos/upload") Upload Video
        each potato in videos
            +video(potato)
        else
            li sorry, nothing found.