extends ../base

block content
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(placeholder="Old Password", type="password", name="oldPassword")
        input(placeholder="New Password", type="password", name="new1")
        input(placeholder="New Password Confirmation", type="password", name="new2")
        input(type="submit" value="Change Password!")