extends ../base
include ../mixins/video

block content 
    div.videos-grid
        each ownVideo in user.videos
            +video(ownVideo)
        else
            span.empty__message No videos found